@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url(../fonts/league/stylesheet.css);

$font-body:'IBM Plex Sans',Helvetica,Arial,sans-serif;
$font-head:'League Gothic',Rubik,Helvetica,Arial,sans-serif;
$font-icon:'FontAwesome';
$color-background:#333;
$color-brand:#ffa000;
$color-text-body:#ddd;
$color-text-head:$color-brand;
$color-text-footer:#aaa;
$color-sign-default:#aaa;
$color-link-default:$color-text-body;
$color-link-active:$color-brand;
$color-link-active-footer:$color-brand;
$break-header:50em;
$break-screen-small:35em;
$break-screen-medium:50em;
$break-screen-large:60em;

@mixin aa_clearfix {
	*zoom:1;
	&:before,
	&:after {
		display:table;
		content:"";
		line-height:0;
	}
	&:after { clear:both; }	
}
@mixin aa_visuallyhidden ($type:true) {
	@if $type == false {
		clip:auto;
		height:auto !important;
		margin:0;
		overflow:visible;
		position:static;
		width:auto !important;
	}
	@else {
		border:0;
		clip:rect(0 0 0 0);
		height:1px !important;
		margin:-1px;
		overflow:hidden;
		padding:0;
		position:absolute;
		width:1px !important;
		&.focusable:active,
		&.focusable:focus {
			clip:auto;
			height:auto;
			margin:0;
			overflow:visible;
			position:static;
			width:auto;
		}
	}
}


* {
	box-sizing:border-box;
}
html {
	font-size:100%;
	overflow-y:scroll;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
body {
	animation-duration:1s;
	animation-name:fadein;
	-moz-animation-duration:1s;
	-moz-animation-name:fadein;
	-webkit-animation-duration:1s;
	-webkit-animation-name:fadein;
	background:$color-background url(../img/bg.gif) top left repeat;
	color:$color-text-body;
	font-family:$font-body;
	font-size:1rem;
	line-height:1.5;
	margin:0;
	padding:2rem 1rem 0 1rem;
	@media (min-width:$break-header) {
		padding:3rem 1rem 1rem 1rem;
	}
	@media (min-width:$break-screen-large) {
		&:before {
			background-image:url(../img/stripes.png);
			background-position:top left;
			background-repeat:no-repeat;
			content:"";
			display:block;
			height:493px;
			left:10%;
			position:absolute;
			top:0;
			width:718px;
		}
	}
}    
@-moz-keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-webkit-keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
header {
	padding:0 0 2rem 0;
	position:relative;
	z-index:2;
	h1 {
		color:$color-text-head;
		font-family:$font-head;
		font-size:3rem;
		font-weight:normal;
		letter-spacing:1px;
		line-height:1;
		margin:0;
		text-align:center;
		text-transform:uppercase;
		@media (min-width:$break-header) {
			font-size:4.5rem;
		}
		&:before {
			background-image:url(../img/logo.svg);
			background-position:top center;
			background-repeat:no-repeat;
			content:"";
			display:block;
			height:6rem;
			@media (min-width:$break-header) {
				height:7rem;
			}
		}
	}
}
a[href] {
	color:$color-link-default;
	text-decoration:none;
	transition:all 0.5s;
	&:hover {
		color:$color-link-active;
	}
}
p {
	&#intro {
		margin:0 auto;
		max-width:22em;
		position:relative;
		z-index:2;
		text-align:center;
		@media (min-width:$break-screen-small) {
			max-width:27em;
		}
		@media (min-width:$break-screen-medium) {
			font-size:1.5rem;
			line-height:1.5;
		}
	}
}
nav {
	margin:0 auto;
	max-width:60rem;
	padding:2rem 0 1rem 0;
	position:relative;
	ul {
		font-size:0;
		margin:0;
		padding:0;
		@media (min-width:$break-screen-large) {
			text-align:center;
		}
	}
	li {
		display:block;
		list-style:none;
		margin:1rem 0;
		padding:0;
		position:relative;
		@media (min-width:$break-screen-small) {
			display:inline-block;
			padding:0 1rem;
			margin:1rem 0;
			width:50%;
		}
		@media (min-width:$break-screen-large) {
			position:relative;
			width:12.5%;
			&:after {
				border-radius:0.25rem;
				content:' ';
				display:block;
				width:0.5rem;
				height:10rem;
				overflow:hidden;
				margin:0 auto;
				background-color:darken($color-sign-default,20%);
				color:$color-sign-default;
			}
			&:nth-child(6n+1) {
				top:0;
				.shadow {
					transform:scaleY(0.15) skewX(-12deg);
				}
			}
			&:nth-child(6n+2) {
				top:0.25rem;
				.shadow {
					transform:scaleY(0.15) skewX(-8deg);
				}
			}
			&:nth-child(6n+3) {
				top:-0.5rem;
				.shadow {
					transform:scaleY(0.15) skewX(-4deg);
				}
			}
			&:nth-child(6n+4) {
				top:0;
				.shadow {
					transform:scaleY(0.15) skewX(4deg);
				}
			}
			&:nth-child(6n+5) {
				top:0.25rem;
				.shadow {
					transform:scaleY(0.15) skewX(8deg);
				}
			}
			&:nth-child(6n+6) {
				top:-0.25rem;
				.shadow {
					transform:scaleY(0.15) skewX(12deg);
				}
			}
		}
	}
	a[href] {
		background-color:$color-sign-default;
		border-radius:0.25rem;
		box-shadow:0 1px 3px rgba(black,0.4);
		color:$color-background;
		display:block;
		font-family:$font-head;
		font-size:1.5rem;
		line-height:1;
		margin:0;
		padding:0.25rem;
		text-decoration:none;
		text-transform:uppercase;
		@media (min-width:$break-screen-large) {
			height:5rem;
			margin:0 auto;
			transform:rotate(45deg);
			width:5rem;
			padding:0.375rem;
		}
		&:hover {
			background-color:$color-text-head;
			color:$color-background;
		}
		.inner-border {
			border:0.125rem $color-background solid;
			border-radius:0.125rem;
			display:block;
			height:100%;
			padding:1rem;
			width:100%;
		}
		.label {
			@media (min-width:$break-screen-large) {
				@include aa_visuallyhidden;
			}
		}
	}
	.fa,
	.fal,
	.far,
	.fas,
	.fab,
	.svg-inline--fa {
		display:inline-block;
		line-height:1.5;
		margin-right:0.5rem;
		text-align:center;
		width:2rem;
		@media (min-width:$break-screen-large) {
			font-size:2rem;
			line-height:1;
			margin:0;
			transform:rotate(-45deg);
			width:auto;
		}
	}
	.shadow {
		@media (min-width:$break-screen-large) {
			bottom:0;
			display:block;
			left:0;
			position:absolute;
			width:100%;
			transform-origin:bottom center;
			opacity:0.2;
			z-index:-1;
			&:before {
				content:" ";
				display:block;
				width:4.75rem;
				height:4.75rem;
				margin:0 auto;
				background-color:#000;
				transform:rotate(45deg);
				transform-origin:50% 50%;
			}
			&:after {
				border-radius:0.25rem;
				content:" ";
				display:block;
				margin:0 auto;
				background-color:#000;
				width:0.5rem;
				height:10rem;
			}
		}
	}
}
footer {
	@include aa_clearfix;
	color:$color-text-footer;
	padding:2rem 0;
	@media (min-width:$break-screen-medium) {
		background-image:url(../img/workman.svg);
		background-position:center center;
		background-repeat:no-repeat;
	}
	p {
		font-size:0.75rem;
		line-height:1.5;
		margin:0;
		text-align:center;
		a[href] {
			border-bottom:1px $color-text-footer dotted;
			&:hover {
				border-bottom:1px $color-link-active-footer solid;
			}
		}
		&#copyright {
			@media (min-width:$break-screen-medium) {
				float:left;
				padding:0 3rem 0 0;
				text-align:right;
				width:50%;
			}
		}
		&#credit {
			@media (min-width:$break-screen-medium) {
				float:right;
				padding:0 0 0 3rem;
				text-align:left;
				width:50%;
			}
		}
	}
}
