@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=IBM+Plex+Serif&display=swap');
@import url(../fonts/league/stylesheet.css);

:root {
  --font-body: 'IBM Plex Serif',Georgia,serif;
  --font-list: 'IBM Plex Sans',Helvetica,Arial,sans-serif;
  --font-head: 'League Gothic',Rubik,Helvetica,Arial,sans-serif;
  --color-background: #222;
  --color-brand: #ffa000;
  --color-text-body: #ddd;
  --break-screen-medium: 50em;
}

html {
  font-size: 112.5%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  animation-duration: 1s;
  animation-name: fadein;
  -moz-animation-duration: 1s;
  -moz-animation-name: fadein;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fadein;
  background-color: var(--color-background);
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%226px%22%20height%3D%2212px%22%20viewBox%3D%220%200%206%2012%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cline%20x1%3D%226%22%20y1%3D%220%22%20x2%3D%220%22%20y2%3D%2212%22%20stroke%3D%22rgba%28255%2C255%2C255%2C0.05%29%22%20%2F%3E%3C%2Fsvg%3E');
  background-repeat: repeat;
  color: var(--color-text-body);
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 2rem;
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#page {
  margin-left: auto;
  margin-right: auto;
  max-width: 32rem;
}
a {
  color: white;
}
a:hover,
a:active {
  color: var(--color-brand);
}
h1 {
  color: var(--color-brand);
  font-family: var(--font-head);
  font-size: 3.5rem;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
h2 {
  color: #ff00a0;
  font-family: var(--font-head);
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
#intro {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: block;
  font-family: var(--font-list);
  list-style: none;
  margin: 0;
  padding: 0;
}
li + li {
  margin-top: 0.5rem;
}
@media (min-width: 50rem) {
  body {
    padding: 3rem;
  }
  #page {
    max-width: 40rem;
  }
  h1 {
    font-size: 4rem;
  }
  #intro {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .cols {
    display: flex;
  }
  .cols > * {
    width: 50%;
  }
}