@import url("https://fonts.googleapis.com/css?family=Rubik:400,400i,700,700i");
@import url(../fonts/league/stylesheet.css);
* {
  box-sizing: border-box; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  animation-duration: 1s;
  animation-name: fadein;
  -moz-animation-duration: 1s;
  -moz-animation-name: fadein;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fadein;
  background: #333 url(../img/bg.gif) top left repeat;
  color: #ddd;
  font-family: Rubik, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 2rem 1rem 0 1rem; }
  @media (min-width: 50em) {
    body {
      padding: 3rem 1rem 1rem 1rem; } }
  @media (min-width: 60em) {
    body:before {
      background-image: url(../img/stripes.png);
      background-position: top left;
      background-repeat: no-repeat;
      content: "";
      display: block;
      height: 480px;
      left: 12.5%;
      position: absolute;
      top: 0;
      width: 688px; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
header {
  padding: 0 0 2rem 0; }
  header h1 {
    color: #f90;
    font-family: "League Gothic", Rubik, Helvetica, Arial, sans-serif;
    font-size: 3rem;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 1;
    margin: 0;
    text-align: center;
    text-transform: uppercase; }
    @media (min-width: 50em) {
      header h1 {
        font-size: 4.5rem; } }
    header h1:before {
      background-image: url(../img/logo.png);
      background-position: top center;
      background-repeat: no-repeat;
      content: "";
      display: block;
      height: 6rem; }
      @media (min-width: 50em) {
        header h1:before {
          height: 7rem; } }

a[href] {
  color: #ddd;
  text-decoration: none;
  transition: all 0.5s; }
  a[href]:hover {
    color: #f90; }

p#intro {
  margin: 0 auto;
  max-width: 22em;
  text-align: center; }
  @media (min-width: 35em) {
    p#intro {
      max-width: 27em; } }
  @media (min-width: 50em) {
    p#intro {
      font-size: 1.5rem;
      line-height: 1.5; } }

nav {
  margin: 0 auto;
  max-width: 60rem;
  padding: 2rem 0 1rem 0; }
  nav ul {
    font-size: 0;
    margin: 0;
    padding: 0; }
    @media (min-width: 60em) {
      nav ul {
        text-align: center; } }
  nav li {
    display: block;
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    position: relative; }
    @media (min-width: 35em) {
      nav li {
        display: inline-block;
        padding: 0 1rem;
        margin: 1rem 0;
        width: 50%; } }
    @media (min-width: 60em) {
      nav li {
        position: relative;
        width: 12.5%; }
        nav li:after {
          border-radius: 0.25rem;
          content: ' ';
          display: block;
          width: 0.5rem;
          height: 10rem;
          overflow: hidden;
          margin: 0 auto;
          background-color: #6f6f6f;
          color: #888; }
        nav li:nth-child(6n+1) {
          top: 0; }
          nav li:nth-child(6n+1) .shadow {
            transform: scaleY(0.15) skewX(-12deg); }
        nav li:nth-child(6n+2) {
          top: 0.25rem; }
          nav li:nth-child(6n+2) .shadow {
            transform: scaleY(0.15) skewX(-8deg); }
        nav li:nth-child(6n+3) {
          top: -0.5rem; }
          nav li:nth-child(6n+3) .shadow {
            transform: scaleY(0.15) skewX(-4deg); }
        nav li:nth-child(6n+4) {
          top: 0; }
          nav li:nth-child(6n+4) .shadow {
            transform: scaleY(0.15) skewX(4deg); }
        nav li:nth-child(6n+5) {
          top: 0.25rem; }
          nav li:nth-child(6n+5) .shadow {
            transform: scaleY(0.15) skewX(8deg); }
        nav li:nth-child(6n+6) {
          top: -0.25rem; }
          nav li:nth-child(6n+6) .shadow {
            transform: scaleY(0.15) skewX(12deg); } }
  nav a[href] {
    background-color: #888;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    color: #333;
    display: block;
    font-family: "League Gothic", Rubik, Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1;
    margin: 0;
    padding: 0.25rem;
    text-decoration: none;
    text-transform: uppercase; }
    @media (min-width: 60em) {
      nav a[href] {
        height: 5rem;
        margin: 0 auto;
        transform: rotate(45deg);
        width: 5rem;
        padding: 0.375rem; } }
    nav a[href]:hover {
      background-color: #f90;
      color: #333; }
    nav a[href] .inner-border {
      border: 0.125rem #333 solid;
      border-radius: 0.125rem;
      display: block;
      height: 100%;
      padding: 1rem;
      width: 100%; }
    @media (min-width: 60em) {
      nav a[href] .label {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px !important;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px !important; }
        nav a[href] .label.focusable:active, nav a[href] .label.focusable:focus {
          clip: auto;
          height: auto;
          margin: 0;
          overflow: visible;
          position: static;
          width: auto; } }
  nav .fa,
  nav .fal,
  nav .far,
  nav .fas,
  nav .fab,
  nav .svg-inline--fa {
    display: inline-block;
    line-height: 1.5;
    margin-right: 0.5rem;
    text-align: center;
    width: 2rem; }
    @media (min-width: 60em) {
      nav .fa,
      nav .fal,
      nav .far,
      nav .fas,
      nav .fab,
      nav .svg-inline--fa {
        font-size: 2rem;
        line-height: 1;
        margin: 0;
        transform: rotate(-45deg);
        width: auto; } }
  @media (min-width: 60em) {
    nav .shadow {
      bottom: 0;
      display: block;
      left: 0;
      position: absolute;
      width: 100%;
      transform-origin: bottom center;
      opacity: 0.2;
      z-index: -1; }
      nav .shadow:before {
        content: " ";
        display: block;
        width: 4.75rem;
        height: 4.75rem;
        margin: 0 auto;
        background-color: #000;
        transform: rotate(45deg);
        transform-origin: 50% 50%; }
      nav .shadow:after {
        border-radius: 0.25rem;
        content: " ";
        display: block;
        margin: 0 auto;
        background-color: #000;
        width: 0.5rem;
        height: 10rem; } }

footer {
  *zoom: 1;
  color: #888;
  padding: 2rem 0; }
  footer:before, footer:after {
    display: table;
    content: "";
    line-height: 0; }
  footer:after {
    clear: both; }
  @media (min-width: 50em) {
    footer {
      background-image: url(../img/workman.png);
      background-position: center center;
      background-repeat: no-repeat; } }
  footer p {
    font-size: 0.75rem;
    line-height: 1.5;
    margin: 0;
    text-align: center; }
    footer p a[href] {
      border-bottom: 1px #888 dotted; }
      footer p a[href]:hover {
        border-bottom: 1px #f90 solid; }
    @media (min-width: 50em) {
      footer p#copyright {
        float: left;
        padding: 0 3rem 0 0;
        text-align: right;
        width: 50%; } }
    @media (min-width: 50em) {
      footer p#credit {
        float: right;
        padding: 0 0 0 3rem;
        text-align: left;
        width: 50%; } }

/*# sourceMappingURL=main.css.map */
