@import "normalize.css" layer(normalize);
@import "../fonts/league/stylesheet.css" layer(fonts);
@import "../fonts/raleway/stylesheet.css" layer(fonts);
@import "../fonts/fontawesome/css/fontawesome.min.css" layer(fonts);
@import "../fonts/fontawesome/css/brands.min.css" layer(fonts);
@view-transition {
  navigation: auto;
}

:root {
  --color-bg: hsl(215,20%,30%);
  --color-backdrop: hsla(215,20%,30%,0.9);
  --color-bg-pattern: hsl(215,20%,25%);
  --color-fg-pattern: hsla(35,100%,50%,0.5);
  --color-text-body: hsl(215,20%,95%);
  --color-text-mute: hsl(215,20%,70%);
  --color-link: hsl(35,100%,60%);
  --color-link-decoration: hsla(35,100%,60%,0.5);
  --color-link-hover: hsl(35,100%,70%);
  --color-link-decoration-hover: hsla(35,100%,70%,0.7);
  --font-body: Raleway, Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  --font-head: "League Gothic";
}

.brown-blue {
  --color-bg: hsl(35,10%,20%);
  --color-backdrop: hsla(35,10%,20%,0.9);
  --color-bg-pattern: hsl(35,10%,15%);
  --color-fg-pattern: hsla(215,100%,75%,0.5);
  --color-text-body: hsl(35,10%,95%);
  --color-text-mute: hsl(35,10%,70%);
  --color-link: hsl(215,100%,75%);
  --color-link-decoration: hsla(215,100%,75%,0.5);
  --color-link-hover: hsl(215,100%,90%);
  --color-link-decoration-hover: hsla(215,100%,90%,0.7);
}

body {
  background-color: var(--color-bg);
  background-image: repeating-linear-gradient(-45deg, var(--color-bg-pattern) 0px, var(--color-bg-pattern) 1px, transparent 0px, transparent 50%);
  background-repeat: repeat;
  background-size: 8px 8px;
  color: var(--color-text-body);
  font-family: var(--font-body);
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0px;
  padding: clamp(1rem, calc(4.21vw + 2.5px), 3rem);
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a[href] {
  color: var(--color-link);
  text-decoration-color: var(--color-link-decoration);
  text-decoration-line: underline;
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
  text-decoration-style: solid;
  text-decoration-thickness: 4px;
  transition: color 0.25s ease-in-out, text-decoration-color 0.25s ease-in-out, text-underline-offset 0.25s ease-in-out;
  &:hover {
    color: var(--color-link-hover);
    text-decoration-color: var(--color-link-decoration-hover);
    text-underline-offset: 2px;
  }
}

figure {
  margin-bottom: 2rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2rem;
  img {
    box-sizing: border-box;
    background-image: repeating-linear-gradient(45deg, var(--color-fg-pattern) 0px, var(--color-fg-pattern) 1px, transparent 0px, transparent 50%);
    background-repeat: repeat;
    background-size: 8px 8px;
    display: block;
    height: auto;
    padding: 2rem;
    width: 100%;
  }
  figcaption {
    color: var(--color-text-mute);
    font-size: 1rem;
    line-height: 1.25;
    margin-top: 1rem;
  }
}

h2 {
  font-size: 1.5rem;
}

.small {
  font-size: 1rem;
}

.breadcrumb {
  --color-link: var(--color-text-mute);
  --color-link-decoration: transparent;
  color: var(--color-text-mute);
  font-family: var(--font-head);
  font-size: clamp(4rem, calc(3.58rem + 2.1vw), 5rem);
  letter-spacing: 0.03em;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
  ul {
    all: unset;
    display: flex;
    justify-content: center;
  }
  li {
    all: unset;
    display: flex;
  }
  @media (max-width: 639px) {
    li:first-child {
      display: none;
    }
  }
  @media (min-width: 640px) {
    li + li::before {
      content: "/";
    }
  }
}

main {
  header {
    margin-bottom: 2rem;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    margin-top: 2rem;
    padding: clamp(4rem, calc(8.42vw + 2.32rem), 8rem) clamp(1rem, calc(4.21vw + 2.5px), 3rem);
    position: relative;
    text-align: center;
    &::before {
      background-image: url('../../work/jha/jha-logomark.svg');
      background-size: max(640px, 125%);
      background-position: center center;
      background-repeat: no-repeat;
      content: "";
      height: 100%;
      left: 0px;
      mix-blend-mode: multiply;
      opacity: 0.25;
      position: absolute;
      top: 0px;
      width: 100%;
      z-index: -1;
    }
    &::after {
      background-image: repeating-linear-gradient(45deg, var(--color-bg-pattern) 0px, var(--color-bg-pattern) 1px, transparent 0px, transparent 50%);
      background-size: 8px 8px;
      background-repeat: repeat;
      content: "";
      height: 100%;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 100%;
      z-index: 0;
    }
    h1 {
      font-family: var(--font-head);
      font-size: clamp(3rem, calc(2.58rem + 2.1vw), 4rem);
      font-weight: normal;
      letter-spacing: 0.03em;
      line-height: 1;
      margin-bottom: 0px;
      margin-top: 0px;
      position: relative;
      text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
      text-transform: uppercase;
      z-index: 1;
    }
    p {
      line-height: 1.25;
      margin-top: 0;
      margin-bottom: 0;
      position: relative;
      text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
      z-index: 1;
    }
    .tags {
      font-style: italic;
    }
  }
  & > :is(h2,p) {
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
  }
}

header#header,
footer#footer {
  ul {
    all: unset;
    font-family: var(--font-head);
    font-size: 1.75rem;
    font-size: clamp(1.25rem, calc(1.04rem + 1.05vw), 1.75rem);
    letter-spacing: 0.03em;
    line-height: 1.14;
    text-transform: uppercase;
  }
  li {
    display: block;
  }
  a[href] {
    --color-link-decoration: transparent;
  }
}
header#header {
  margin-bottom: 2rem;
  &::after {
    background-image: repeating-linear-gradient(45deg, var(--color-fg-pattern) 0px, var(--color-fg-pattern) 1px, transparent 0px, transparent 50%);
    background-repeat: repeat;
    background-size: 8px 8px;
    content: "";
    display: block;
    height: 2rem;
    margin-top: 2rem;
  }
}
footer#footer {
  color: var(--color-text-mute);
  display: grid;
  grid-column-gap: clamp(1rem, calc(4.21vw + 2.5px), 3rem);
  grid-row-gap: 2rem;
  grid-template-columns: repeat(12, 1fr);
  line-height: 1.25;
  padding-top: 4rem;
  &::before {
    background-image: repeating-linear-gradient(45deg, var(--color-fg-pattern) 0px, var(--color-fg-pattern) 1px, transparent 0px, transparent 50%);
    background-repeat: repeat;
    background-size: 8px 8px;
    content: "";
    display: block;
    grid-column-start: 1;
    grid-column-end: span 12;
    height: 2rem;
  }
  & > div {
    grid-column: 1 / 13;
    @media (min-width: 576px) {
      grid-column: 1 / 7;
    }
  }
  p {
    margin-bottom: 0px;
    margin-top: 0px;
    max-width: 23em;
  }
  p + p {
    margin-top: 1rem;
  }
  strong {
    color: var(--color-text-body);
  }
  ul {
    align-self: start;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    grid-column: 1 / 13;
    justify-self: start;
    @media (min-width: 576px) {
      justify-self: end;
      grid-column: 7 / 13;
    }
  }
}

dialog {
  transform: translateY(-20px);
  &, &::backdrop {
    transition:
      display 1s allow-discrete,
      overlay 1s allow-discrete,
      opacity 1s ease,
      transform 1s ease;
    opacity: 0;
  }
  &[open] {
    opacity: 1;
    transform: translateY(0px);
    &::backdrop {
      opacity: 1;
    }
  }
  @starting-style {
    &[open],
    &[open]::backdrop {
      opacity: 0;
    }
    &[open] {
      transform: translateY(20px);
    }
  }
}
#mainmenubtn,
#mainmenuclose {
  @media (min-width: 576px) {
    display: none;
  }
}
#mainmenu {
  background-color: var(--color-bg);
  border: none;
  bottom: 0px;
  box-sizing: border-box;
  height: auto;
  left: 0px;
  margin: clamp(1rem, calc(4.21vw + 2.5px), 3rem);
  max-height: 100%;
  max-width: 100%;
  padding: clamp(1rem, calc(4.21vw + 2.5px), 3rem);
  right: 0px;
  top: 0px;
  width: auto;
  &::backdrop {
    background-color: var(--color-backdrop);
    background-image: repeating-linear-gradient(45deg, var(--color-fg-pattern) 0px, var(--color-fg-pattern) 1px, transparent 0px, transparent 50%);
    background-repeat: repeat;
    background-size: 8px 8px;
  }
  @media (min-width: 576px) {
    all: unset;
  }
}